
<footer>
	<div class="container">
		<div class="col-lg-8">
			<p>Copyright ©2025 ., Ltd. All rights reserved. 
				                                  
				                                  Design:
<a rel="nofollow" href="#" target="_blank">Suresh</a>

				Distribution:
				<a href="#">Suresh</a>
			</p>
		</div>
	</div>
</footer>
