<div class="sub-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<ul class="info">
					<li>
						<i class="fa fa-envelope"></i>
						info@company.com</li>
					<li>
						<i class="fa fa-map"></i>
						Sunny Isles Beach, FL 33160</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4">
				{{ page.sub_header }}
			</div>
		</div>
	</div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="#" class="logo">
						<h1>Custom </h1>
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					{{ drupal_menu('social-menu') }}
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>
					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>

</header>
